.review-item {
	background: #ffffff;
	padding: 15px;
	margin: 20px 0;
}

.review-item__name {
	font-weight: bold;
	font-size: 18px;
}

.review-item__text {
	font-size: 15px;
}

.review-item__date {
	color: #b1b1b1;
}